<div class="container" style="position: absolute; bottom: 0; left: 0; right: 0;">
    <p class="text-center w-100">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus ad neque inventore? Voluptatem, sed? Consequuntur ad accusantium ipsam quos est? Incidunt, veritatis debitis. Perferendis eligendi, ad est enim aut deserunt. <%= new Date().getFullYear(); %></p>
</div>